:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  pointer-events: none;
}

.wave-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
