@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-yellow: rgb(var(--primary-yellow));
  --color-primary-yellow-foreground: rgb(var(--primary-yellow-foreground));
  --color-primary-turquoise: rgb(var(--primary-turquoise));
  --color-primary-turquoise-foreground: rgb(var(--primary-turquoise-foreground));
  --color-primary-azure: rgb(var(--primary-azure));
  --color-primary-azure-foreground: rgb(var(--primary-azure-foreground));
  --color-primary-tangerine: rgb(var(--primary-tangerine));
  --color-primary-tangerine-foreground: rgb(var(--primary-tangerine-foreground));
  --color-primary-aqua: rgb(var(--primary-aqua));
  --color-primary-aqua-foreground: rgb(var(--primary-aqua-foreground));
  --color-primary-lavender: rgb(var(--primary-lavender));
  --color-primary-lavender-foreground: rgb(var(--primary-lavender-foreground));
  --color-primary-red: rgb(var(--primary-red));
  --color-primary-red-foreground: rgb(var(--primary-red-foreground));
  --color-primary-indigo-vivid: rgb(var(--primary-indigo-vivid));
  --color-primary-indigo-vivid-foreground: rgb(var(--primary-indigo-vivid-foreground));
  --color-primary-pink-vivid: rgb(var(--primary-pink-vivid));
  --color-primary-pink-vivid-foreground: rgb(var(--primary-pink-vivid-foreground));
  --color-primary-mint: rgb(var(--primary-mint));
  --color-primary-mint-foreground: rgb(var(--primary-mint-foreground));
  --color-primary-grassy: rgb(var(--primary-grassy));
  --color-primary-grassy-foreground: rgb(var(--primary-grassy-foreground));
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(94.8% 0.028 342.258);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --primary-yellow: 254 245 105;
  --primary-yellow-foreground: 20 20 20;
  --primary-turquoise:115 238 203;
  --primary-turquoise-foreground: 20 20 20;
  --primary-azure:107 189 255;
  --primary-azure-foreground: 20 20 20;
  --primary-tangerine:233 118 59;
  --primary-tangerine-foreground: 20 20 20;
  --primary-aqua: 124 242 254;
  --primary-aqua-foreground: 20 20 20;
  --primary-lavender: 215 187 248;
  --primary-lavender-foreground: 20 20 20;
  --primary-red: 255 86 86;
  --primary-red-foreground: 20 20 20;
  --primary-indigo-vivid: 105 114 254;
  --primary-indigo-vivid-foreground: 255 255 255;
  --primary-pink-vivid: 254 124 177;
  --primary-pink-vivid-foreground: 20 20 20;
  --primary-mint: 96 203 160;
  --primary-mint-foreground: 20 20 20;
  --primary-grassy: 182 243 106;
  --primary-grassy-foreground: 20 20 20;
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.42 0.18 266);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --primary-yellow: 254 245 105;
  --primary-yellow-foreground: 20 20 20;
  --primary-turquoise:115 238 203;
  --primary-turquoise-foreground: 20 20 20;
  --primary-azure:107 189 255;
  --primary-azure-foreground: 20 20 20;
  --primary-tangerine:233 118 59;
  --primary-tangerine-foreground: 20 20 20;
  --primary-aqua: 124 242 254;
  --primary-aqua-foreground: 20 20 20;
  --primary-lavender: 215 187 248;
  --primary-lavender-foreground: 20 20 20;
  --primary-red: 255 86 86;
  --primary-red-foreground: 255 255 255;
  --primary-indigo-vivid: 105 114 254;
  --primary-indigo-vivid-foreground: 255 255 255;
  --primary-pink-vivid: 254 124 177;
  --primary-pink-vivid-foreground: 20 20 20;
  --primary-mint: 96 203 160;
  --primary-mint-foreground: 10 35 30;
  --primary-grassy: 182 243 106;
  --primary-grassy-foreground: 20 20 20;
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}